<?xml version="1.0" encoding="UTF-8"?>
<!-- 仅配置输出到控制台，用于包内测试，具体的输出由调用方配置 -->
<configuration status="INFO">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%thread] [%level] %c{36}[%M:%L] -> %m%n"/>
        </Console>
    </appenders>
    <loggers>
        <root level="DEBUG">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>